<!doctype html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<style>
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

#tooltip {
    position: absolute;
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
</style>
<h1 class= "text-center">Visualization Project 2</h1>
<h2 class= "text-center">PCA Scatter Plot Stratified Sampling</h2>
<div style="height:100%" class="text-center">
<div id ="selectionHeadings" class ="row text-center">
  <div class="col-sm-5 center-block text-center"><span style="font-size:120%;font-family: 'Arial Black'">Select the Type of sampling:</span></div>
<div class="col-sm-5 center-block"><span style="font-size:120%;font-family: 'Arial Black'">Select the Type Of Plot:</span></div>
</div>
<div id ="selectionRow" class ="row text-center">
<div class="col-sm-5 center-block text-center">
<select id ="selectSampling" class="form-control input-xxlarge" style ="display: inline" data-style="btn-primary">
<option value = 1>Random Sampling</option>
<option value = 2>Stratified Sampling</option>
</select></div> 
<div class="col-sm-5 center-block">
<select id ="selectPlot" class="form-control input-xxlarge" data-style="btn-primary">
<option value = 1>Squared Loadings</option>
<option value = 2 selected=True>Scatter Plot</option>
<option value = 3>MDS ScatterPlot</option>
<option value = 4>MDS Correlation ScatterPlot</option>
<option value = 5>Scatter Matrix</option>
<option value = 6>Scree Plot</option>
<option value = 7>Home</option>
</select></div> 
<div class="col-sm-2 center-block"><button class="btn btn-primary" onclick="handleGo()">GO</button></div>
</div>
</div>
 <svg width="960" height="400" style="margin-top: 20px"></svg>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
 <div id="tooltip" style="opacity: 0">
    <strong>Pricipal Component1:</strong><span id="value1">100</span>
    <br>
    <strong>Pricipal Component2:</strong><span id="value2">100</span></p>
  </div>
<script>
var dataSet={{dataVal}}

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;
console.log("It comes here")    

var svg = d3.select("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// var tooltip = d3.select("body").append("div")
//     .attr("class", "tooltip")
//     .style("opacity", 0);

var xValue = function(d) { return d[0];}
var yValue = function(d) { return d[1];} 

var xScale = d3.scale.linear()
              .domain([d3.min(dataSet, xValue)-1,d3.max(dataSet, xValue)+1])
              .range([ 0, width ]);
    
var yScale = d3.scale.linear()
            .domain([d3.min(dataSet, yValue)-1, d3.max(dataSet, yValue)+1])
            .range([ height, 0 ]);
var xAxis = d3.svg.axis()
      .scale(xScale)
      .orient("bottom")
      .ticks(21);
 color = d3.scale.category10();     

var yAxis = d3.svg.axis()
      .scale(yScale)
      .orient("left")
      .ticks(21);

svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("Principal Component1");  

  // y-axis
svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Principal Component 2");               

svg.selectAll(".dot")
      .data(dataSet)
    .enter().append("circle")
      .attr("class", "dot")
      .transition()
      .duration(1000)
      .each("start", function() {
                d3.select(this)
                .attr("fill", "red")
                .attr("r", 5);
      })
      .delay(function(d, i) {
            return i / dataSet.length * 500;
      })
      .attr("r", 3.5)
      .attr("cx", function(d,i) { return xScale(d[0]);})
      .attr("cy", function(d) { return yScale(d[1]);})
      .each("end", function() {  
            d3.select(this) 
             .transition()
             .duration(500)
             .attr("fill", "blue")
             .attr("r", 2); 
       });
svg.selectAll(".dot")
   .on("mouseover", function(d,i) {
        console.log("d[0]",d);
        d3.select(this).attr("r",5);
         d3.select(this).attr("fill","red");
          d3.select("#tooltip")
          .transition()
          .duration(500)
          .style("left", d3.event.pageX + "px")
          .style("top", d3.event.pageY + "px")
          .style("opacity", 1)
          .attr("zIndex", 10)
          .select("#value1")
          .text(d[0]);
          d3.select("#tooltip")
          .select("#value2")
          .text(d[1]);
          
      })
      .on("mouseout", function(d) {
        d3.select(this).attr("r",2);
         d3.select(this).attr("fill","blue");
         d3.select("#tooltip")
         .transition()
         .duration(500)
          .style("opacity", 0);
      });
</script>       
<script type="text/javascript">
    function handleGo(){
      var selectSample = document.getElementById("selectSampling").value;
      var selectPlot = document.getElementById("selectPlot").value;
      if(selectPlot==7){
              document.location.href='/';
      } 
      if(selectSample==2){
           if(selectPlot==1){
              document.location.href='/crime/squaredLoadings';
            }else if(selectPlot==2){
              document.location.href='/crime/scatterPlot';
            }
            else if(selectPlot==3){
              document.location.href='/crime/MDSscatterPlot';
            }
            else if(selectPlot==4){
              document.location.href='/crime/MDSCorrelationscatterPlot';
            }
            else if(selectPlot==5){
              document.location.href='/crime/scatterMatrix';
            }
            else if(selectPlot==6){
              document.location.href='/crime/screeplot';
            }
      }else {
            if(selectPlot==1){
              document.location.href='/crime/randomsquaredLoadings';
            }else if(selectPlot==2){
              document.location.href='/crime/randomscatterPlot';
            }
            else if(selectPlot==3){
              document.location.href='/crime/MDSRandomscatterPlot';
            }
            else if(selectPlot==4){
              document.location.href='/crime/MDSRandomCorrelationscatterPlot';
            }
            else if(selectPlot==5){
              document.location.href='/crime/randomScatterMatrix';
            }else if(selectPlot==6){
              document.location.href='/crime/randomscreeplot';
            }
      }
    }
</script>             